/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #cabfbf;
}

/* Header Styles */
.homepage-header {
    background-color: #666;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo-image {
    width: 70px;
    height: auto;
}

h1 {
    font-size: 24px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

/* Search Section Styles */
.search-section {
    margin-top: 20px;
    padding: 20px;
}

.search-box {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Search Results Styles */
.search-results {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.container {
    width: 22%;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card__details {
    text-align: left;
}

.tag {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #666;
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.favBtnNew,
.knowmore {
    margin-top: 10px;
}

.addToFavBtn,
.knowmorejs {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addToFavBtn:hover,
.knowmorejs:hover {
    background-color: #0056b3;
}

.addToFavBtn {
    background-color: #28a745;
}

.addToFavBtn:hover {
    background-color: #218838;
}

/* CSS for the splash notification */
#splash {
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 9999;
    display: none;
}

.show {
    display: block !important;
    animation: fadeInOut 2s ease-out;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    .container {
        width: 45%;
    }
    
    .logo-image {
        margin: 10px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo-image {
        margin: 5px;
    }
    .btn{
        margin: 10px;
    }

}